<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a href="/" class="<%= myActivePath === "shop-page" ? "active": "" %>">Shop</a></li>
            <li class="main-header__item"><a href="/products" class="<%= myActivePath === "/products" ? "active": "" %>">Products</a></li>
            <li class="main-header__item"><a href="/cart" class="<%= myActivePath === "/cart" ? "active": "" %>">Cart</a></li>
            <li class="main-header__item"><a href="/orders" class="<%= myActivePath === "/orders" ? "active": "" %>">Orders</a></li>
            <li class="main-header__item"><a href="/admin/add-product" class="<%= myActivePath === "on-admin-page" ? "active": "" %>">Add Product</a></li>
            <li class="main-header__item"><a href="/admin/products" class="<%= myActivePath === "/admin/products" ? "active": "" %>">Admin Products</a></li>
        </ul>
        <% if(!myActivePath.includes('404')) { %>
            <form method="POST" action="/admin/delete-all-products">
                <button type="submit">Delete all products</button>
            </form>
        <% } %>
    </nav>
</header>
