<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>

<main>
  <div class="grid">
    <% if(prods.length === 0) {  %>
      <h2>No products found! Please add some</h2>
    <% } %>
    <% for(prod of prods) { %>
    <article class="card product-item">
      <header class="card__header">
        <h1 class="product__title"><%= prod.title %></h1>
      </header>
      <div class="card__image">
        <img
          src="<%- prod.imageUrl %>"
          alt="A Book"
        />
      </div>
      <div class="card__content">
        <h2 class="product__price">$ <%= prod.price %></h2>
        <p class="product__description">
          <%= prod.description %>
        </p>
      </div>
      <div class="card__actions">
        <a href="/products/<%= prod.id %>"><button class="btn">Details</button></a>
        <form action="/cart" method="POST" style="display: inline; margin: 0; padding: 0;">
          <input type="hidden" name="productId"  value="<%= prod.id %>" />
          <button type="submit" class="btn">Add to Cart</button>
        </form>
      </div>
    </article>
    <% } %>
  </div>
</main>
<%- include('../includes/end.ejs') %>
